/* GENERALES */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background: linear-gradient(to right, #ff8647, #fdad69, #ffdd90);
    display: flex;
    justify-content: center;
    align-items: center;

}

#wrap {
    width: 95%;
    max-width: 1200px;
    max-height: 550px;
    height: 100vh;
    background: #101010;
    box-shadow: 20px 20px 30px #4e3b24;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-column: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;

    display: flex;
    flex-wrap: wrap;

}

/* SCROLL */

/* #wrap {
    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-color: rgb(60, 199, 227) transparent;
    scrollbar-width: none;
    transition: ease-in-out 5s;
}
 */
/* #wrap:hover {
    scrollbar-width: thin;
} */

/* SCROLL */

/* #wrap {
    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-color: rgb(60, 199, 227) transparent;
    scrollbar-width: none;
    transition: ease-in-out 5s;
}

#wrap:hover {
    scrollbar-width: thin;
} */



